@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap')

body{
    background: #ece9fd;

    padding: 60px 23px 66px;
}

h1{
    font-family: 'Epilogue:ital';
    font-family: "Epilogue"
}